<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            gap: 20px;
            padding: 20px;
        }
        
        button {
            padding: 10px 20px;
            font-size: 70px;
            cursor: pointer;
        }

        .tea {
            font-size: 70pt;
        }
        
        .coffee {
            font-size: 70pt;
        }

        button:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <div class="container">
        <button class="coffee">아메리카노</button>
        <button class="coffee">에스프레소</button>
        <hr>
        <button class="tea">녹차</button>
    </div>
</body>
</html>